
.MainFeaturesContainer{
    /* background-color: red; */
    height: 100%;
    padding: 0%;
    display: flex;
    flex-direction: column;
}
.ElementsContainer{
    display: flex;
    align-self : normal;
    flex-direction: row;
    justify-content: space-around;
}
.CollageMakerContainer{
    display: flex;
    flex-direction: column;
    max-width : min-content;
    height: 6in;
    /* background-color: lightblue; */
    justify-content: space-evenly;
}
.title{
    color: white;
    text-align: center;
}
.desc{
    text-align: center;
    color: white;
    font-weight: 500 ;    
    word-break: break-word;
    min-width: 0px;
    font-size: 20px;
    backdrop-filter: blur(60px);
}
.image1{
    background-image: url('../../images/artboardPreview.png');
    background-size: 448px;
    width: 448px;
    height: 252px;
}
.image2{
        background-image: url('../../images/statisticsPreview.png');
        background-size: 448px;
        width: 448px;
        height: 252px;
}

.GetAnalyticsContainer{
    display: flex;
    flex-direction: column;
    max-width : min-content;
    height: 6in;
    /* background-color: lightblue; */
    justify-content: space-evenly;
}

.image2{
    background-color: red;
    width: 448px;
    height: 252px;
}
.ListenHereContainer{
    display: flex;
    flex-direction: column;
    max-width : min-content;
    height: 6in;
    /* background-color: lightblue; */
    justify-content: space-evenly;
}

.image3{
    background-color: yellow;
    width: 448px;
    height: 252px;
}



